@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201f1f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4b5563 transparent; /* thumb color and track color */
}

*::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
  height: 6px; /* For horizontal scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* or use black if needed */
}

@layer utilities {
  .animate-slideDown {
    animation: slideDown 0.3s ease-out forwards;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
